{% extends '_base.html' %}
{% load static %}
{% block body %}

<main id="main-div" class="hidden grid-cols-2 relative">
    <div class="relative max-h-[80vh]">
        <video id="tutor-video" src="{{ object.video_reference.url }}" muted
            class="h-full w-full rounded z-[1] object-contain"></video>
        <canvas id="tutor-canvas" class="absolute top-0 bottom-0 right-0 left-0 w-full h-full text-white z-10"></canvas>
    </div>
    <div class="relative">
        <video id="user-video" src="" muted autoplay class="h-full w-full rounded z-[1]"></video>
        <canvas id="user-canvas" class="absolute top-0 bottom-0 right-0 left-0 w-full h-full text-white z-10"></canvas>
    </div>
    <div id="popup"
        class="opacity-0 absolute bottom-10 text-center flex justify-center items-center w-full duration-200 ease-in">
        <div class="bg-black/80 w-fit p-10 text-white rounded text-2xl font-bold">
            Rep not counted! Please correct your exercise posture.
        </div>
    </div>
    <div class="absolute flex justify-center items-center gap-5 w-full h-full">
        <div class="flex flex-col justify-center items-center gap-5">
            <div class="bg-[#f00] rounded-full flex flex-col justify-center items-center w-28 h-28">
                <h5 class="text-white text-2xl font-medium">Set</h5>
                <p id="set-counter" class="text-white text-3xl my-2">1</p>
            </div>

            <div class="bg-[#f00] rounded-full flex flex-col justify-center items-center w-28 h-28">
                <h5 class="text-white text-2xl font-medium">Reps</h5>
                <p id="rep-counter" class="text-white text-3xl my-2">0</p>
            </div>
        </div>



    </div>
</main>

<div id="loading" class="flex justify-center items-center h-[80%]">
    <div class="relative">
        <div class="fancy-loader h-44 w-44 rounded-full z-1">
        </div>
        <div class="border-2 border-white absolute top-0 bottom-0 left-0 right-0 mx-auto w-32 h-32 bg-black z-10 m-auto rounded-full flex justify-center items-center">
            <p class="text-white font-bold">
                Loading...
            </p>
        </div>
    </div>

</div>

<div class="hidden">
    {% for item in object.joints_to_track.all %}
        <p class="joint" data-joint="{{ item.tensorflow_model_number }}"></p>
        <p class="" data-pa="{{ item.positive_error_angle }}"></p>
        <p class="" data-pm="{{ item.positive_error_message }}"></p>

        <p class="" data-na="{{ item.negative_error_angle }}"></p>
        <p class="" data-nm="{{ item.negative_error_message }}"></p>
    {% endfor %}
</div>



<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-core"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-converter"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-webgl"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/pose-detection"></script>

<script>
    const selAngles = []
    const errorPositiveAngles = []
    const errorPositiveMessages = []
    const errorNegativeAngles = []
    const errorNegativeMessages = []
    
    const joints = document.querySelectorAll('[data-joint]')
    Array.from(joints).forEach(e => {
        selAngles.push(+e.getAttribute("data-joint"))
    })

    const pa = document.querySelectorAll('[data-pa]')
    Array.from(pa).forEach(e => {
        errorPositiveAngles.push(+e.getAttribute("data-pa"))
    })

    const pm = document.querySelectorAll('[data-pm]')
    Array.from(pm).forEach(e => {
        errorPositiveMessages.push(e.getAttribute("data-pm"))
    })

    const na = document.querySelectorAll('[data-na]')
    Array.from(na).forEach(e => {
        errorNegativeAngles.push(+e.getAttribute("data-na"))
    })

    const nm = document.querySelectorAll('[data-nm]')
    Array.from(nm).forEach(e => {
        errorNegativeMessages.push(e.getAttribute("data-nm"))
    })
    console.log(selAngles)
    console.log(errorPositiveAngles, errorPositiveMessages, errorNegativeAngles, errorNegativeMessages)

    reps_per_set = 2
    reps = [2,2]

</script>
<script src="{% static 'js/start.js' %}"></script>
{% endblock %}