<header class="bg-background-light">
    <nav class="w-3/5 mx-auto h-28 flex justify-between items-center">
        <div class="h-full flex justify-center items-center">
            <h1 class="text-bold font-bold text-gradient text-5xl">Kreeda Ai</h1>
        </div>

        <div class="flex justify-center items-center gap-10">
            <a href="{% url 'exercise-list' %}" class="font-medium hover:text-secondary text-lg">Exercises</a>
            <a href="{% url 'lessonplan-list' %}" class="font-medium hover:text-secondary text-lg">Lesson Plans</a>
        </div>
    </nav>
</header>