<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Example</h1>
    <p>{{ data }}</p>
    {% for plan in lesson_plans %}
        <h3>{{plan.name}}</h3>

        {% for ex in plan.exercise_sets.all %}
            <p>{{ex.exercise.name}}</p>
            <p>{{ex.number_of_sets}}</p>
            <p>{{ex.reps}}</p>
        {% endfor %}
    {% endfor %}

    <script>
        const data = '{{lesson_plans|escapejs}}'
    </script>
</body>
</html>